/* ROOT */
:root {
    --b-btn: black;
    --blue-btn: #2d64e6;
    --orange-btn: #cd3d0f;
    --light_grey-btn: #d9dadc;
    --cold_white-btn: #f5f5f5;
}


/************************************
               COMMON
*************************************/
body {
    font-family: Arial, sans-serif;
}

header {
    font-family: Helvetica, arial, sans-serif;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

.btn {
    color: white;
    border-radius: 30px;
    padding: 8px 12px;
    font-size: 0.9rem;
    transition: 1s;
}

.btn:hover {
    color: white;
    transform: scale(1.1);
}

.jumbotron {
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner_playstation {
    height: 350px;
}

.banner_playstation .container {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right 0 top 0;
}

.text h2 {
    font-size: 2.5rem;
    padding-bottom: 17px;

}

.text span {
    font-size: 0.8rem;
    color: #0072ce;
    font-weight: 600;
}

.text p {
    font-size: 1.3rem;
    color: #767676;
    padding-bottom: 50px;
} 
/************************************
               HEADER
*************************************/
.header_sony {
    height: 40px;
    background-color: black;
    text-align: right;
    line-height: 35px;
}

.header_sony img {
    width: 80px;
    margin-right: 15px;
}

/* Main Header Common */
.main_header {
    height: 70px;
    font-size: 30px;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: white;
}

/* Main Header Small */
.main_header img {
    width: 55px;
}

.main_header_container {
    margin: 0 15px;
    padding-top: 10px;
    justify-content: space-between;
    align-items: center;
}

.main_header.small .main_header_container i {
    color: #a2a1a1;
    border: 1px solid #cac4c4;
    padding: 5px 15px;
    border-radius: 4px;
}

/* Main Header Big */
.main_header.big {
    font-size: 15px;
    font-weight: 600;
    display: none;
}

.main_header.big .main_header_container {
    align-items: center;
}

.main_header .main_header.big a{
    padding-right: 7px;
}

.main_header .arrow {
    width: 10px;
    margin-left: 5px;
}

.main_header.big ul {
    align-items: center;
}

.main_header.big ul li.d-flex {
    padding: 0 13px;
}


/* Right */
.main_header_right .search {
    width: 10px;
}

.main_header .search {
    width: 20px;
    margin-left: 10px;
}

.btn.login {
    background-color: var(--b-btn);
    margin: 0 15px;
}
/************************************
                MAIN
*************************************/
/* Section 1 Jumbotron 1 ----------------------------*/
.jumbotron.top{
    background-image: url(../img/jumbo-bg.png);
    margin-top: 70px;
    background-position: top;
}

.jumbotron .container {
    height: 100%;
}

.jumbotron .content {
    height: 100%;
    color: white;
    flex-direction: column;
    justify-content: flex-end;
}

.jumbotron_top .img_container,
.jumbotron_middle .img_container {
    width: 300px;
}

.jumbotron .ms_button a{
    background-color: var(--orange-btn);
    margin-bottom: 60px;
}

.jumbotron .ms_text h1 {
    padding-top: 25px;
    font-size: 2.5rem;
}

.jumbotron .ms_text p {
    padding: 17px 0;
}

/* Section 2 Card Game-------------------- */
.card_game_container {
    padding: 35px 0;
}
.card_game {
    padding-bottom: 23px;
}
.card_game img{
    border-radius: 20px;
}

.card_game_container .col-6:first-child .card_game img{
    border: 2px solid #0072ce;
    border-radius: 20px;
    padding: 3px;
    transition: 1s;
}

/* Hover---------- */

.card_game_container .col-6:first-child .card_game img:hover {
    transform: scale(1.1);
}

/* Section 3 Console Playstation ---------*/
.console_playstation {
    padding-top: 60px;
    padding-bottom: 20px;
}
.preview.text {
    text-align: center;
}

.console_playstation .info_playstation.text p {
    padding-bottom: 10px;
}

/* Container more info */
.try_more_info {
    padding-bottom: 30px;
}

.console_playstation .ms_button a{
    background-color: var(--blue-btn);
    font-weight: 600;
}

/* Playstation Cards */
.console_playstation .playstation_cards .container img {
    opacity: 0.5;
}

.playstation_card_name {
    text-align: center;
    display: none;
    opacity: 0.5;
}

/* Hover-------------------- */
.console_playstation .playstation_cards .col-4.col-md-2:hover:after {
    content: "";
    border-bottom: 2px solid #2d64e6;
    display: block;
}

.console_playstation .selected_items:hover img,
.console_playstation .selected_items:hover .playstation_card_name {
    opacity: 1;
}

/* Section 4 Jumbotron middle ----------*/ 
.jumbotron.middle {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
}

.jumbotron.middle .ms_button a {
    margin-bottom: 20px;
}

/* Section 5 New Releases----------- */
.new_releases {
    color: white;
    background-color: #1f1f1f;
    padding: 35px 0;
}

.new_releases .title h2{
    font-size: 2.2rem;
    padding-bottom: 15px;
}

.new_releases .title p{
    font-size: 1.5rem;
}

.new_releases .card_game h6 {
    padding: 10px 0;
    font-size: 1.11rem;
}

/* Section 6 New release ------------*/
.console_playstation.four {
    padding: 70px 0;
}
.console_playstation.four .text p {
    padding-bottom: 20px;
} 

.console_playstation.four .text h2 {
    font-size: 2.3rem;
}

.console_playstation.four .col-12 {
    padding-bottom: 50px;
}

.console_playstation.four .row {
    padding-top: 30px;
}


/* Section 7 Banner Plus */
.banner_playstation.plus {
    background-color: #bebcbb;
}

.banner_playstation .container {
    height: 100%;
}

.banner_playstation .banner_logo img {
    width: 350px;
}

.banner_playstation .ms_button a {
    background-color: var(--light_grey-btn);
    color: var(--blue-btn);
    font-weight: 600;
}

.banner_playstation .banner_left p {
    padding-top: 30px;
    padding-bottom: 15px;
    color: black;
}

.banner_left {
    height: 100%;
    align-items: center;
}


/* Section 8 Discount */
.discount {
    text-align: center;
    padding: 60px 0;
}
.discount_card {
    padding: 25px 0
}

.discount .text p {
    padding-bottom: 30px;
}


/* Section 9 Banner Now */

.banner_playstation.now {
    background-color: #161c3b;
    padding-bottom: 10px;
}

.banner_playstation .ms_button a {
    background-color: var(--cold_white-btn);
    color: black;
    font-weight: 600;
}

.banner_playstation.now .text p{
    color: white;
}


/* Section 10 Social */
.social {
    padding: 60px 0;
    text-align: center;
}

.social h2 {
    font-size: 2rem;
    padding-bottom: 30px;
}

.social_card {
    padding: 15px 0;
}

/************************************
               FOOTER
*************************************/
footer {
    background-color: #00439c;
    padding: 100px 0 50px 0;
    color: white;
}

.footer_logo {
    width: 120px;
}
.choose_language {
    padding: 40px 0;
}

.choose_language img{
    width: 24px;
    margin-right: 13px;
}

.choose_language img,
.choose_language span {
    vertical-align: middle;
}

.ms_container_footer {
    padding-left: 42px;
    line-height: 40px;
}

/* Copyright */
.copyright {
    padding: 60px 0;
}
.sie_logo {
    width: 150px;
}

.copyright .text {
    padding:  15px 0;
}

.copyright .text a {
    text-decoration: underline;
}

/************************************
            MEDIA QUERY
*************************************/
@media screen and (min-width: 500px) {
    /* Section 4 Jumbotorn Middle */
    .jumbotron.middle .ms_button a {
        margin-bottom: 60px;
      }
}


/* SM Screen */
@media screen and (min-width: 576px){
    /* Order -----------------------*/
    /* Section 2 */
   .ratchet {
        order: 1;
    }
}


/* MD Screen */
@media screen and (min-width: 768px){
    /* MAIN---------------------------- */
    /* Section 3 -----------------------*/
    .console_playstation .text p {
        padding-bottom: 30px;
    }

    /* Playstation Cards */
    .playstation_cards .row {
        justify-content: space-between;
    }

    .playstation_card_name {
        display: block;
    }
    
    /* Section 7 Banner Plus */
    .banner_playstation .row {
        align-items: center;
    }

    .banner_playstation {
        height: 300px;
    }

    .banner_playstation.plus .container{
        background-image: url(../img/ps-plus-april-monthly-games-featured-image-block.png);
    }

    .banner_left {
        width: 50%;
    }

    .banner_playstation .banner_logo img {
        width: 250px;
    }

    .banner_left .text p {
        font-size: 1.1rem;
    }

    /* Section 9 Banner Now */
    .banner_playstation.now .container{
        background-image: url(../img/ps-now-april-featured-image-block.png);
        background-position: right 40px top 0;
    }
}


/* LG Screen */
@media screen and (min-width: 992px){
    /* Order -----------------------*/
    /* Section 2 */
   .ratchet {
        order: 0;
    }

    /* HEADER---------------------- */
    /* Main Header Small */
    .main_header.small {
        display: none;
    }
    /* Main Header Big */
    .main_header.big {
        display: block;
    }

    /* MAIN --------------------------*/
    /* Jumbotron 1 */
    .jumbotron {
        height: 650px;
        background-position: top 10px;
    }
    .jumbotron_top {
        width: 33%;
    }

    .jumbotron_top .img_container,
    .jumbotron_middle .img_container {
        width: 200px;
    }

    .jumbotron .ms_text p {
        font-size: 0.85rem;
    }

    .jumbotron .ms_text h1 {
        font-size: 2.2rem;
    }

    /* Section 4 Jumbotron middle */
    .jumbotron_middle{
       width: 32%;
       padding-bottom: 30px;
    }

    /* Section 7 Banner Plus */
    .banner_playstation {
        height: 350px;
    }
    .banner_left {
        width: 55%;
    }

    .banner_playstation .banner_logo img {
        width: 350px;
    }

} 

@media screen and (min-width: 1200px) {
     /* Section 4 Jumbotron middle */
    .jumbotron_middle .img_container {
        width: 300px;
    }
}
